# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# VS Code
.vscode/

# Env files
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Others
coverage/

# Ignore public build artifacts
w01_typescript_14/public/

# Ignore markdown output (if any)
demo/md/w01_typescript_14/*.html
